.sidebar {
    padding: 15px;
    height: 350px;
    background-image: url(http://www.ilikewallpaper.net/iphone-5-wallpapers/download/18379/Space-Dark-Universe-iphone-5-wallpaper-ilikewallpaper_com.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 450ms;
    .site-info {
        padding: 90px 15px 0;
        color: #fafafa;
        h1 {
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            letter-spacing: -2pt;
            margin-bottom: 0;
        }
        p {
            margin-bottom: 10px;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            line-height: 24px;
            line-height: 2.4rem;
            font-size: 16px;
            font-size: 1.6rem;
        }
        i {
            font-style: normal;
            margin-right: 10px;
        }
        .primary-info {
            border-bottom: solid 1px rgba(255, 255, 255, 0.3);
            a {
                color: #E0E0E0;
                &:active, &:hover {
                    color: #fafafa;
                }
            }
        }
        .secondary-info p {
            margin: 20px 0 0;
            font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
            font-size: 14px;
            font-size: 1.4rem;
        }
    }
}

@media (min-width: 768px) {
    .sidebar {
        height: 450px;
    }
}

@media (min-width: 992px) {
    .sidebar {
        height: 100%;
        position: fixed;
        background-color: #f5f5f5;
    }
}

@media (min-width: 768px) {
    .sidebar .site-info {
        padding: 180px 100px 0;
    }
}

@media (min-width: 992px) {
    .sidebar .site-info {
        padding: 0 20px;
        position: absolute;
        bottom: 40px;
    }
}

@media (min-width: 1200px) {
    .sidebar .site-info {
        padding: 0 30px;
    }
}

@media (min-width: 768px) {
    .sidebar .site-info h1 {
        letter-spacing: 0;
        margin-bottom: 10px;
        font-size: 34px;
        font-size: 3.4rem;
    }
}